[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "janus/vim-sensible"]
	path = janus/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
